body {
	font-family: Verdana, Arial, sans-serif;
	margin: 0;
	text-align: left;
	background-color: lightgrey;
  color: black;
}

#page {
  width: 960px;
  background-color: silver;
  color: black;
  margin: 0 auto;
  height: 660px;
  border: 2px dashed darkorange;
}

#header {
  background-color: gray;
  height: 80px;
  border: 1px solid lime
}

#head_left, #head_right, #head_cent {
  background-color: slategray;
  color: whitesmoke;
  width: 296px;
  height: 36px;
  float: left;
  text-align: center;
  border: 1px dashed darkred;
  padding: 20px 10px;
}

#menu {
  background-color: rgb(48, 48, 48);
  color: whitesmoke;
  height: 26px;
  text-align: center;
  border: 2px solid red;
}

#content {
  background-color: cadetblue;
  height: 516px;
  border: 1px solid yellow;
}

#cont_left, #cont_right {
  background-color: cadetblue;
  color: whitesmoke;
  width: 354px;
  padding: 30px;
  margin: 30px ;
  float: left;
  text-align: center;
  border: 2px solid lightblue;
}

#cont_left {
  border-radius: 60px 60px 10px;
}

#cont_right{
  border-radius: 60px 60px 60px 10px;
}

#footer {
  background-color: rgb(48, 48, 48);
  color: whitesmoke;
  height: 24px;
  text-align: center;
  padding: 2px;
  border: 1px dotted white;
}