@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Julius+Sans+One&display=swap');

* { /* Asetukset jotka koskevat aivan kaikkea sivulla olevaa */
  margin: 0px; /* Nollaa ihan jokaiselta elementiltä, body,h1,p,ul... */
  /*padding: 0;*/ /* Poistaa myös mm. listoista*/
  box-sizing: border-box;
}
:root { /* Global variables */
  --bg-color: #2B3338;
  --front-color: #5C6C78;
  --font-color: gainsboro;
  --hi-color: yellow;
  --active-color: #5c6c786b;
  --view-width: 100%;
}

/* || Base styles */
/******************/
body {
  /*TODO: sivun max-width*/
  max-width: 1500px;
  margin: auto;
  background-color: var(--front-color);
  color: var(--font-color);
  font-family: "Chakra Petch", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
  "DejaVu Sans", Verdana, sans-serif;
  font-size: 100%;
  background-image: url("../images/water_drop.jpg");
  background-blend-mode: multiply;
  /*background-size: cover;*/
}

h1, h2, h3, h4, h5 {
  color: var(--font-color);
  padding: 0.5rem;
}
h2 { /* Site -heading */
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
  font-size: 1.2rem;
  padding: 0.5rem;
}
h3 { /* Main section -heading */
  font-size: 2rem;
  margin: 1rem;
}
h4 { /* Portfolio 'place' -heading*/
  font-size: 1.2rem;
  font-weight: bold;
}

h5 { /* Content -heading */
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 1rem;
}

p {
  color: var(--font-color);
  margin: 0.5rem;
}
i {
  color: var(--front-color);
}

/*********************************/
/* || Header, Footer, Navigation */
nav {
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 1rem;
  font-size: 1.3rem;
  border-radius: 0.5rem;
}
.nav-logo {
  /*display: inline-block;*/ /*Tomii ilmankin*/
  padding-left: 1rem;
  margin: auto 0;
  height: 2.7rem; /* Korkeus riippuvainen 'nav fon-size' ja 'a:any-link padding' */
}
.flex-nav {
  list-style: none;
	margin: 0;
	padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
}

nav a {
  display: inline-block;
  color: var(--font-color);
  text-decoration: none;
}
nav a:any-link {
  color: var(--font-color);
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}
nav a:hover {
  background-color: var(--front-color);
}
.active {
  background-color: var(--active-color);
}
header h1 {
  font-family: 'Julius Sans One', sans-serif;
  letter-spacing: 0.5rem;
  font-size: 4rem;
  text-align: center;
  border-bottom: 2px solid var(--bg-color);
}
header h2 {
  text-align: center;
  /*TODO: paddingiä niin että pisarat näkyy kokonaan
    ja navin rivinvaihdon jälkeen pienempi pädding*/
  /*TODO: tekstin levyinen boksi*/
  /* display: inline-block;
  background-color: var(--front-color);
  width: 600px;
  margin-left: aut;
  border-radius: 1rem;*/
}

footer {
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem 0 0.5rem 0;
}
footer a:any-link {
  text-decoration: none;
  color: var(--font-color);
  padding: 0 1rem 0 1rem
}
footer a:hover {
  color: var(--front-color);
}

/***************/
/* || Content */

/* Index */

.content {
  display: flex;
  flex-wrap: wrap;
}

.left-cont, .right-cont {
  background-color: var(--bg-color);
  border-radius: 2rem;
  min-width: 29rem;
  padding: 1rem 0.5;
  margin: 1rem;
  flex-grow: 1;
  flex-basis: 0;
}

.content p {
  margin: 1rem;
  font-size: 1.1rem;
  max-width: 80ch;
}

/* Portfolio */
/*TODO: portfolio käyttämään samaa '.content' flexiä kuin muilla sivuilla*/
.flex-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.left-port, .right-port {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  flex-grow: 1;
  flex-basis: 0;
}

.portfolio {
  border-radius: 2rem;
  background-color: var(--bg-color);
  color: var(--front-color);
  /*border-collapse: collapse;*/
  border-spacing: 0;
  padding: 0 1rem;
  padding-bottom: 1rem;
  /*border: 1px dotted red;*/
}
/*.portfolio th {
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 10px;
}*/
.portfolio td.time, .portfolio td.place {
  min-width: 250px;
  text-align: left;
  width: 25rem;
  height: auto;
  padding: 1rem 0.5rem;
  /*TODO: uloimpien left ja right paddin 0
    sisempi pädding 1rem*/
}

.portfolio td.place {
  border: 1px solid yellow;
  border-width: 1px 1px 1px 0;
  border-top-right-radius: 3em;
  border-bottom-right-radius: 3em;
  border-top-left-radius: 3em;
  border-bottom-left-radius: 3em;
  min-width: 170px;
}
.portfolio td.right {
  text-align: right;
  border-width: 1px 0 1px 1px;
}
.portfolio td.time {
  border: none;
  min-width: 150px;
}


/**************************/
/* || Mobile-optimization */
/*TODO: 390px min portofoliolle*/
@media only screen and (max-width: 630px) {
  header h1 {
    font-size: 2.5rem;
  }
  nav {
    font-size: 1.1rem;
    margin: 0.5rem 1rem;
  }
  .flex-nav {
    flex-direction: column;
    align-items: flex-end;
  }
  nav a:any-link {
    color: var(--font-color);
    padding: 0.5rem;
  }
  .nav-logo {
    padding: 0;
    margin: auto;
    width: calc(var(--view-width) - 400px);
    min-width: 10rem;
    max-width: 16rem;
    height: auto;
  }
  footer a:any-link {
    padding: 0 0.5rem 0 0.5rem
  }
  .left-cont, .right-cont {
    min-width: 300px;
  }
  .portfolio {
  padding: 0 0.5rem;
  }
  .portfolio td.place {
    border-radius: 1rem;
    padding: 0;
  }
}