@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Julius+Sans+One&display=swap');

* { /* Asetukset jotka koskevat aivan kaikkea sivulla olevaa */
  margin: 0px; /* Nollaa ihan jokaiselta elementiltä, body,h1,p,ul... */
  padding: 0; /* Poistaa myös mm. listoista*/
  box-sizing: border-box;

}
:root { /* Global variables */
  --bg-color: #2b3338;
  --front-color: #5c6c78;
  --font-color: gainsboro;
  --hi-color: yellow;
  --active-color: #5c6c786b;
  --code-color: whitesmoke;
  --view-width: 100%;
  /* Custom scrollbar for firefox */
  scrollbar-color: var(--front-color) var(--bg-color);
  scrollbar-width: thin;
}

/* Custom scrollbar chrome-based */
/*********************************/
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: var(--bg-color);
}
::-webkit-scrollbar-thumb {
  background: var(--front-color);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--font-color);
}
/* || Base styles */
/******************/
body {
  /*TODO: sivun max-width*/
  max-width: 1500px;
  margin: auto;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: "Chakra Petch", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
  "DejaVu Sans", Verdana, sans-serif;
  font-size: 100%;
  background-image: url("../images/wood.jpg");
  /*background-blend-mode: multiply;*/
  background-attachment: fixed;
}

h1, h2, h3, h4, h5 {
  color: var(--font-color);
  padding: 0.5rem;
}
h2 { /* Site -heading */
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
  font-size: 1.2rem;
  padding: 0.5rem;
  color: var(--code-color);
}
h3 { /* Main section -heading */
  font-size: 2rem;
  margin: 1rem;
}
h4 { /* Portfolio 'place' -heading*/
  font-size: 1.2rem;
  font-weight: bold;
}

h5 { /* Content -heading */
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 1rem;
}

p {
  color: var(--font-color);
  margin: 0.5rem;
  margin-bottom: 0;
}
i {
  color: var(--front-color);
}

/* || Kuvien määritykset */
/***************************/
.image {
  /** 'Thumbnail' -kuvien kehykset **/
  border: 0.125rem solid var(--front-color);
  border-radius: 13px;
  padding: 0.125rem;
  margin: 0.375rem;
  width: auto;
  height: 9rem;
}
.image:hover {
  /** Kuvien 'hover' -keykset **/
    margin: 6px;
    box-shadow: 0 0 0.625rem 0.3125rem var(--font-color);
    border: none;
  }

/*********************************/
/* || Header, Footer, Navigation */
nav {
  /*background-color: var(--bg-color);*/
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 2rem;
  font-size: 1.3rem;
  border-radius: 0.5rem;
}
.nav-logo {
  /*display: inline-block;*/ /*Tomii ilmankin*/
  padding-left: 1rem;
  margin: auto 0;
  height: 2.7rem; /* Korkeus riippuvainen 'nav fon-size' ja 'a:any-link padding' */
}
.flex-nav {
  list-style: none;
	margin: 0;
	padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
}

nav a {
  display: inline-block;
  color: var(--font-color);
  text-decoration: none;

}
nav a:any-link {
  color: var(--font-color);
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}
nav a:hover {
  background-color: var(--front-color);
  border-radius: 0.8rem;
}
.active {
  /*background-color: var(--active-color);*/
  border: 1px solid var(--front-color);
  border-top-width: 0;
  border-bottom-width: 3px;
  border-radius: 1rem;
}
header h1 {
  font-family: 'Julius Sans One', sans-serif;
  letter-spacing: 0.5rem;
  font-size: 4rem;
  text-align: center;
  border-bottom: 2px solid var(--bg-color);
}
header h2 {
  text-align: center;
  /*TODO: tekstin levyinen kehys -> h2:n viiva pois */
  /*border: 1px solid var(--front-color);
  border-radius: 1rem;
  border-width: 1px 0 3px 0;*/
  /* display: inline-block;
  background-color: var(--front-color);
  width: 600px;
  margin-left: auto;
  border-radius: 1rem;*/
}

footer {
  font-size: 1rem;
  text-align: center;
  margin: 0.5rem 0 1.5rem 0;
}
footer a:any-link {
  text-decoration: none;
  color: var(--font-color);
  padding: 0 1rem 0 1rem
}
footer a:hover {
  color: var(--front-color);
}

/***************/
/* || Content */

/* Index */

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.left-cont, .right-cont {
  border: 1px solid var(--front-color);
  border-radius: 2rem;
  border-left-width: 3px;
  border-right-width: 0;
  /*background-color: var(--bg-color);*/
  min-width: 29rem;
  padding: 1rem 0.5;
  margin: 1rem;
  flex-grow: 1;
  flex-basis: 0;
}
.right-cont {
  border-left-width: 0px;
  border-right-width: 3px
}
.content p {
  margin: 1rem;
  font-size: 1.1rem;
  max-width: 80ch;
}

/* Portfolio */
/*TODO: portfolio käyttämään samaa '.content' flexiä kuin muilla sivuilla*/
.flex-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.left-port, .right-port {
  display: flex; /*Tarviiko??*/
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  flex-grow: 1;
  flex-basis: 0;
}

.portfolio {
  /*DEV*//*border: 1px dashed red;*/
  /*background-color: var(--bg-color);*/
  color: var(--font-color);
  border-spacing: 0;
  padding: 0 1rem;
  padding-bottom: 1rem;
}

.portfolio td.time, .portfolio td.place {
  min-width: 10rem;
  width: 25rem;
  height: auto;
  padding: 1rem 0.5rem;
}
.portfolio td.place {
  border: 1px solid var(--front-color);
  border-radius: 3em;
}
.portfolio td.time {
  text-align: left;
  border: none;
}
.portfolio td.place:nth-child(odd) {
  border-right-width: 0;
  border-left-width: 3px;
  text-align: right;
}
.portfolio td.place:nth-child(even) {
  border-left-width: 0;
  border-right-width: 3px;
}

/**************************/
/* || Mobile-optimization */
/*TODO: 390px min portofoliolle*/
@media only screen and (max-width: 630px) {
  body {
    background-size:inherit;
  }
  header h1 {
    font-size: 2.5rem;
  }
  nav {
    font-size: 1.1rem;
    margin: 0.5rem 1rem;
  }
  .flex-nav {
    flex-direction: column;
    align-items: flex-end;
  }
  nav a:any-link {
    color: var(--font-color);
    padding: 0.5rem;
  }
  .nav-logo {
    padding: 0;
    margin: auto;
    width: calc(var(--view-width) - 400px);
    min-width: 10rem;
    max-width: 16rem;
    height: auto;
  }
  footer a:any-link {
    padding: 0 0.5rem 0 0.5rem
  }
  .left-cont, .right-cont {
    min-width: 300px;
  }
  .portfolio {
    padding: 0 0.5rem;
  }
  .portfolio td.place {
    border-radius: 1rem;
    padding: 0;
  }
}